.row2 {
    @mixin clearfix;
    
    margin-right: -65px;
    
    &__cl{
        padding-right: 65px;

    }

    &__cl--b-margin{
        margin-bottom: 1rem;
    }

    @mixin atMedium {
        &__cl--md-no-b-margin {
            margin-bottom: 0;
        }

        &__cl--md-4 {
            float: left;
            width: 33.33%;
        }
        
        &__cl--md-4-larger {
            float: left;
            width: 37%;
        }
        
        &__cl--md-8 {
            float: left;
            width: 66.66%;
        }
        
        &__cl--md-8-smaller {
            float: left;
            width: 63%;
        }
    }
}
