.row {
    @mixin clearfix;

    margin-right: 0;
    
    &--gutters{
        margin-right: -65px;
    }
    
    &--gutters-large{
        margin-right: -100px;
    }

    &--gutters-small{
        margin-right: -45px;
    }

    &--t-padding{
        padding-top: 80px;
    }

    @mixin atLarge {
        &--md-equal-height{
            display: flex;
        }
    }


    /* column formating */

    &--gutters > &__cl{
        padding-right: 65px;
    }

    &--gutters-large > &__cl{
        padding-right: 100px;
    }

    &--gutters-small > &__cl{
        padding-right: 45px;
    }

    @mixin atLarge {
        &--md-equal-height > &__cl{
            display: flex;
        }
    }

    &__cl{
        &--b-margin{
            margin-bottom: 1rem;
        }

        @mixin atMedium {
            &--md-no-b-margin {
                margin-bottom: 0;
            }
    
            &--md-4 {
                float: left;
                width: 33.33%;
            }
            
            &--md-4-larger {
                float: left;
                width: 37%;
            }
            
            &--md-6 {
                float: left;
                width: 50%;
            }
            
            &--md-8 {
                float: left;
                width: 66.66%;
            }
            
            &--md-8-smaller {
                float: left;
                width: 63%;
            }
        }

        @mixin atLarge {
            &--lg-4 {
                float: left;
                width: 33.33%;
            }
        }
    }
}
