.social-icons{
    text-align: center;
    line-height: 2.5;
    word-spacing: 0.7rem;

    &__icon{
        display: inline-block;
        position: relative;
        background-color: $mainOrange;
        width: 33%;
        height: 72px;

        @mixin atSmall {
            width: 72px;
            height: 72px;
        }

        .icon{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}